<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="my-4" id="username">
        <span class="bg-light p-2 rounded">
          <%= @facade.user.username %>
        </span>
      </h1>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" id="plates-row">
    <div class="col-12">
      <h3 id="plates-title" class="text-center">
        <span class="bg-light p-2 rounded">
          Followed Plates
        </span>
      </h3>
      <% @facade.user.plates.each_with_index do |plate, index| %>
        <div class="card my-2" id="plate-card-<%= index %>">
          <div class="card-body p-3 rounded">
            <h5 class="card-title m-0">
              <%= link_to plate[:plate_number], plate_path(plate[:id]) %>
            </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" id="posts-row">
    <div class="col-12">
      <h3 id="posts-title" class="text-center">
        <span class="bg-light p-2 rounded">
          <%= @facade.user.username  %>'s Posts
        </span>
      </h3>
      <% @facade.user.posts.each_with_index do |post, index| %>
        <div class="card my-2" id="post-card-<%= index %>">
          <div class="card-body p-3 rounded">
            <h5 class="card-title m-0">
              <%= link_to post[:title], post_path(post[:id]) %>
            </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" id="comments-row">
    <div class="col-12">
      <h3 id="comments-title" class="text-center">
        <span class="bg-light p-2 rounded">
          <%= @facade.user.username  %>'s Comments
        </span>
      </h3>
      <% @facade.user.comments.each_with_index do |comment, index| %>
        <div class="card my-2" id="comment-card-<%= index %>">
          <div class="card-body p-3 rounded">
            <p class="card-text m-0">
              <%= link_to comment[:body], post_path(comment[:post_id]) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>