<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="my-4" id="username">
        <span class="bg-light p-2 rounded">
          <%= @facade.user.username %>
        </span>
      </h1>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" id="plates-row">
    <div class="col-12">
      <h3 id="plates-title" class="text-center">
        <span class="bg-light p-2 rounded">
          Followed Plates
        </span>
      </h3>
      <% @facade.user.plates.each_with_index do |plate, index| %>
        <div class="card my-2" id="plate-card-<%= index %>">
          <div class="card-body p-3 rounded">
            <h5 class="card-title m-0">
              <%= link_to plate[:plate_number], plate_path(plate[:id]) %>
            </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" id="posts-row">
    <div class="col-12">
      <h3 id="posts-title" class="text-center">
        <span class="bg-light p-2 rounded">
          <%= @facade.user.username  %>'s Posts
        </span>
      </h3>
      <% @facade.user.posts.each_with_index do |post, index| %>
        <div class="card my-2" id="post-card-<%= index %>">
          <div class="card-body p-3 rounded">
            <h5 class="card-title m-0">
              <%= link_to post[:title], post_path(post[:id]) %>
            </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" id="comments-row">
    <div class="col-12">
      <h3 id="comments-title" class="text-center">
        <span class="bg-light p-2 rounded">
          <%= @facade.user.username  %>'s Comments
        </span>
      </h3>
      <% @facade.user.comments.each_with_index do |comment, index| %>
        <% if comment[:body] != "Deleted" %>
          <div class="card my-2" id="comment-card-<%= index %>">
            <div class="card-body p-3 rounded">
              <div class="card-text">
                <h4><%= link_to comment[:body], post_path(comment[:post_id]) %></h4>
              </div><br/>
              <div class="button-container">
                <%= button_to "Edit this comment", edit_comment_path(comment[:id]), method: :get, class: "btn btn-outline-info", params: { intent: "edit", user: params["id"].to_i, post: comment[:post_id], body: comment[:body] } %>
                <%= button_to "Delete this comment", comment_path(comment[:id]), class: "btn btn-outline-danger", params: { intent: "delete", user: params["id"].to_i, post: comment[:post_id] }, method: :patch, post: comment[:post_id] %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>